<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DFLAG" value="0"></add>
		<add key="DBAMSCM" value="server=192.168.1.203\test,1444;uid=sa;pwd=sa;database=OilCardManage_XNZ"></add>
		<add key="DBAMSCMCenter" value="server=192.168.1.203\test,1444;uid=sa;pwd=sa;database=OilCardManage20131009"></add>
		<add key="RefreshTime" value="1"></add>
		<add key="DBBAK" value="D:\\cs\\"></add>
		<add key="SystemParaTable" value=""></add>
	</appSettings>
</configuration>